body {
  margin: 0;
  background: rgba(161, 0, 0, 0.3);
}

.page {
  width: 80vw;
  max-width: 1280px;
  background: white;
  margin: 0 auto;  
  padding-bottom: 200px;
  display: flow-root; 

}
.top-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border: 1px solid black;
}

.header1 {
  font-size: 32px;
  font-weight: 900;
  margin-top: 20px;
  color: rgb(152, 51, 51);
  padding-left: 48px;
}

.header2 {
  font-size: 18px;
  margin-bottom: 20px;
  background-color: rgba(173, 216, 230, 0.4);
  padding: 10px 15px;
  border-radius: 6px;
  border: 6px;
  max-width: 80%;
  box-sizing: border-box;
  margin-left: 48px;
}

.Ingredienser {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 12px;
  padding-left: 48px;
}


.ingredienser-list {
  margin: 0;
  padding-left: 48px;
}

.ingredienser-list li {
  margin-bottom: 10px;
  font-size: 14px;
 
}

.Howto-list {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 12px;
  padding-left: 48px;  
}
.Portion {
  margin: 0;
  padding-left: 48px;
}

.steps-list {
  margin: 0;
  padding-left: 60px;
}

.steps-list li {
  margin-bottom: 10px;
  font-size: 14px;
 
}

.Serving-list {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 12px;
  padding-left: 48px;
}

.bottom-imageleft {
  width: 580px;
  height: 467px;
  
  object-fit: cover;
  border: 1px solid black;
  float: left;
  margin-left: 48px;
}

.bottom-imageRight {
  width: 580px;
  height: 467px;
 
  object-fit: cover;
  border: 1px solid black;
  float: right;
  margin-right: 48px;
}

@media (max-width: 700px) {
  .page {
    width: 100vw;
    max-width: 100%;
    margin: 0;
  }

  .bottom-imageleft,
  .bottom-imageRight {
    float: none;         
    width: 100%;          
    max-width: 100%;
    height: auto;        
    margin: 16px 0;      
  }
}